RUN curl -o consul.zip https://releases.hashicorp.com/consul/1.4.4/consul_1.4.4_linux_amd64.zip
RUN unzip consul.zip
RUN mv consul /usr/bin/
RUN mkdir -p /etc/consul.d
RUN mkdir -p /var/consul
RUN curl -L https://getenvoy.io/cli | sudo bash -s -- -b /usr/local/bin
RUN getenvoy run standard:1.13.6 -- --version
RUN cp ~/.getenvoy/builds/standard/1.13.6/linux_glibc/bin/envoy /usr/local/bin/

RUN echo '{% filter replace("\n", " \\n") %}{% include"./templates/consul/config.hcl.j2" %}{% endfilter %}' >> /etc/consul.d/config.hcl

RUN /inse/start.sh > log.txt 2>&1 ;

