systemLog:
  destination: file
  path: /var/log/mongo/mongoc-config.log
  logAppend: true

# fork and run in background
processManagement:
  fork: true
  pidFilePath: /var/run/mongo/mongoc.pid

net:
  port: {{ mongoc_port }}
  bindIp: 0.0.0.0

storage:
  dbPath: {{ mongodb_datadir_prefix }}/configdb

security:
  keyFile: {{ mongodb_datadir_prefix }}/secret

sharding:
  clusterRole: configsvr

replication:
  replSetName: mongoc