[Unit]
Description=Apache Zookeeper
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]
Type=forking
User={{ zookeeper_user }}
Group={{ zookeeper_group }}
EnvironmentFile=/etc/default/zookeeper
ExecStart={{ zookeeper_dir }}/bin/zkServer.sh start
ExecStop={{ zookeeper_dir }}/bin/zkServer.sh stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=zookeeper.service
