#where to log
systemLog:
  destination: file
  path: "/var/log/mongo/mongos.log"
  logAppend: true

processManagement:
  fork: true
  pidFilePath: /var/run/mongo/mongos.pid

net:
  port: {{ mongos_port }}
  bindIp: 0.0.0.0

security:
  keyFile: {{ mongodb_datadir_prefix }}/secret

sharding:
   configDB: "mongoc/{{configDB}}"

